@import "../../base";

#product {
	margin: auto;
	background-color: $container_deep;
	width: 90%;
	padding: 8px;
	@include rounded(20px);
	@include shadow-xl;
	border: #e7ecef solid 2px;

	& > .image_container {
		background-color: $container_light;
		height: 270px;
		@include rounded(20px);
		@include flex(row, center, center);

		img {
			@include image-scaled(150px, 150px);
		}
	}

	& > .detail_container {
		padding: 30px 0px 0px 10px;

		.category_text {
			color: $grey;
			font-size: 0.8rem;
		}

		.title_text {
			color: $text_white;
		}

		.buy_container {
			@include flex(row, end, space-between, 0px);
			padding: 10px 10px 20px 0px;

			.price_container {
				.ratings {
					@include flex(row, start, start, 2px);
					margin-bottom: 4px;

					& > img {
						@include icon();
					}
				}

				& > p {
					font-weight: 600;
					color: $grey;
				}
			}
		}

		.cart {
			@include icon(50px, 50px);
			background-color: $container_light;
			padding: 0.7rem;
			@include rounded(10px);
			@include link();
		}
	}
}
