@import "../../base";

.subscribe {
	background-color: $container_deep;
	@include my(10rem);
	@include py(6rem);
	@include px(8rem);
	@include space-between();

	.text_container {
		@include column-center();
	}
	form {
		@include flex();
		input {
			padding: 0.7rem 4.5rem 0.7rem 0.8rem;
			background-color: $text_white;
			border-top-left-radius: 20px;
			border-bottom-left-radius: 20px;
			outline: none;
			color: $background;
			font-weight: 500;
		}
		button {
			@include button($blue, $text_white, 2.5rem, 0.6rem);
			border-top-right-radius: 20px;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 20px;
		}
	}
}
