.container {
	margin: 15rem 3rem;

	@include response(md) {
		margin: 12rem 2rem;
	}
}

.logo {
	color: $white;

	span {
		color: $red;
	}

	@include response(sm) {
		font-size: 2.7rem;
	}
}

.nav-items {
	@include flex-row($gap: 3.5rem);

	& > .link--tag {
		@include link();
		text-decoration: none;
	}
}

.ratings {
	@include flex-row(start, start, 0.25rem);

	& > img {
		@include icon(1.35rem);
	}
}

#App {
	max-width: 140rem;
	background-color: $background;
	margin: 0 auto;
	min-height: 100vh;
	overflow-x: hidden;
}

.error-element {
	@include flex-col();
	height: 100vh;

	& > h1 {
		max-width: 70rem;
		text-align: center;
		line-height: 2;
		color: coral;

		@include response(sm) {
			font-size: 2.5rem;
		}

		& > span {
			color: $red;
		}
	}

	p {
		color: $background;
		font-weight: 600;
	}
}
