.drop-down {
	@include flex-col($gap: 0.2rem);
	align-items: stretch;
	position: absolute;
	z-index: 100;
	top: 10%;
	right: 2%;
	width: 15rem;
	border-radius: 1rem;

	&__item {
		@include transition;
		padding: 1rem 4rem;
		background-color: $white;
		color: $background;
		font-weight: 600;
		font-size: 1.8rem;
		cursor: pointer;
		border-radius: 1rem;

		&:hover {
			background-color: $background;
			color: $white;
		}
	}
}
