@import "../base";

#footer {
	background-color: $container_deep;
	@include px(4rem);
	@include py(4rem);
	@include space-between();
	@include shadow-xl;

	.first_container {
		& > h3 {
			color: $text_white;
			font-weight: 700;
			font-size: 1.7rem;

			span {
				color: $red;
			}
		}

		& > p {
			font-weight: 600;
			color: $grey;
		}
	}

	.second_container {
		@include flex($gap: 100px);

		.help_container {
			@include flex(column, start, center, 20px);

			p {
				font-weight: 600;
			}

			.links {
				@include flex(column, start, center, 16px);

				& > a {
					@include link($color: $grey);
				}
			}
		}

		.company_container {
			@include flex(column, start, center, 20px);

			p {
				font-weight: 600;
			}

			.links {
				@include flex(column, start, center, 16px);

				& > a {
					@include link($color: $grey);
				}
			}
		}
	}

	.third_container {
		@include centered();

		.socials {
			@include flex($gap: 40px);

			.action_item {
				@include icon(25px, 25px);
				@include link();
			}
		}
	}
}
