PORT=4002
DATABASE_URL=postgresql://user:password@host/beatros?schema=ORDER
INVENTORY_SERVICE_URL=http://localhost:4003
CART_SERVICE_URL=http://localhost:4004
PRODUCT_SERVICE_URL=http://localhost:4001
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
WORKER_STOCK_RELEASE_URL=https://your-ngrok-domain/api/worker/release-stock
WORKER_SEND_EMAIL_URL=https://your-ngrok-domain/api/worker/send-email
CHECKOUT_SUCCESS_URL=http://localhost:3000/payment?type=success
CHECKOUT_FAILURE_URL=http://localhost:3000/payment?type=fail
QSTASH_TOKEN=xxx
BREVO_API_KEY=xkeysib-xxx
MAIL_FROM=noreply@yourdomain.com
UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=xxx
