.blog-card {
	color: $white;

	& > img {
		@include fit-image(100%, 20rem);
		object-fit: cover;
		margin-bottom: 1rem;
		border-radius: 1rem;
	}

	&__info {
		@include flex-row(center, start, 0.75rem);
		margin-bottom: 1.2rem;
	}

	&__info-date {
		color: $grey;
	}

	&__text {
		height: 15rem;

		& > h3 {
			margin-bottom: 1rem;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	&__hook {
		margin-bottom: 1.5rem;
		font-weight: 500;
		color: $grey;
		font-size: 1.4rem;
		text-align: justify;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		line-clamp: 3;
		-webkit-box-orient: vertical;
		line-height: 1.5;
	}

	&__author-image {
		@include flex-row(start, start, 1.25rem);

		& > img {
			@include icon(4rem);
			object-fit: cover;
			border-radius: 50%;
		}
	}

	&__author-info {
		& > h5 {
			margin-bottom: 0.3rem;
			font-size: 1.5rem;
		}

		& > p {
			font-size: 1.2rem;
			color: $grey;
			font-weight: 600;
		}
	}
}
