.footer {
	@include space-between();
	gap: 4rem;
	background-color: $container_deep;
	padding: 4rem 4.5rem;
	box-shadow: $shadow-xl;

	@include response(sm) {
		@include flex-col($gap: 4rem);
		text-align: center;
	}

	&__brand {
		& > h5 {
			color: $grey;
			margin-top: 1.2rem;

			& > a {
				color: $red;
				cursor: pointer;
			}
		}
	}

	&__socials--mid {
		display: none;

		@include response(md) {
			display: flex;
			margin-top: 2rem;
		}

		@include response(sm) {
			display: none;
		}
	}

	&__link-tab {
		@include flex-row($gap: 12rem);

		@include response(md) {
			gap: 4rem;
		}

		@include response(sm) {
			@include flex-col($gap: 4rem);
			text-align: center;
		}
	}

	&__link-head {
		@include flex-col();

		& > h4 {
			margin-bottom: 1rem;
			font-weight: 600;
			color: $red;
		}
	}

	&__links {
		@include flex-col($gap: 2rem);

		& > a {
			@include link();
		}
	}

	&__socials {
		@include flex-row($gap: 0rem);

		@include response(md) {
			display: none;
		}

		@include response(sm) {
			display: flex;
		}
	}

	&__social-links {
		@include flex-row($gap: 2.5rem);
	}

	&__social-icon {
		@include icon(2.5rem);
		@include link();
	}
}
