.header {
	&__nav {
		@include space-between;
		height: 8rem;
		padding: 0 3.5rem;
		background-color: $container_deep;
		box-shadow: $shadow-xl;
	}

	&__nav-items {
		@include response(md) {
			display: none;
		}
	}

	&__cart {
		@include icon();
		@include link();
	}

	&__user {
		@include icon();
		@include link();
		margin-left: 3.75rem;
	}

	&__bar-menu {
		@include icon();
		display: none;

		@include response(md) {
			display: flex;
		}
	}
}
