.nav-menu-mobile {
	background-color: $container_deep;
	height: 75vh;
	padding: 10rem;

	&__links {
		flex-direction: column;
	}

	&__cart > span {
		color: $orange;
	}

	&__logout {
		font-weight: 600;
		font-size: 1.6rem;
	}
}

.menu-off {
	display: none;
}
