.signin {
	@include flex-row(start, space-between, 4rem);
	flex-direction: row-reverse;
	flex-wrap: wrap;
	width: 90%;
	max-width: 85rem;
	margin: 10rem auto;
	padding: 10rem 7rem;
	background-color: $container_deep;
	border-radius: 2rem;
	box-shadow: $shadow-xl;

	@include response(md) {
		flex-direction: column-reverse;
		max-width: 50rem;
		padding: 10rem 3rem;
	}

	&__info {
		@include flex-col(start, center, 0rem);

		@include response(md) {
			width: 100%;
			align-items: center;
		}

		& > form {
			@include flex-col(start, center, 0rem);

			@include response(md) {
				align-items: center;
			}

			& > h1 {
				margin-bottom: 2.7rem;

				@include response(sm) {
					font-size: 3rem;
				}
			}

			& > input[type="submit"] {
				padding: 1.2rem 4rem;
				font-weight: 700;
				margin-bottom: 8rem;
			}
		}
	}

	&__icon {
		@include icon(1.5rem);
		color: $white;
	}

	&__agreement {
		@include flex-row(center, start, 1.5rem);
		margin-bottom: 6rem;

		@include response(md) {
			justify-content: center;
		}

		& > input[type="checkbox"] {
			accent-color: $container_bright;
		}

		& > h5 {
			display: inline;
		}
	}

	&__links {
		@include flex-row(center, start, 1.25rem);
		flex-wrap: wrap;
		margin-bottom: 6rem;
		margin-top: 5rem;

		@include response(sm) {
			justify-content: center;
			text-align: center;
		}
	}

	&__social {
		@include icon(2.5rem);
		@include link();
		color: $white;
	}

	&__small {
		@include link();
		display: none;
		font-weight: 700;
		font-size: 1.5rem;
		text-align: center;
		text-decoration: underline;

		@include response(md) {
			display: block;
		}
	}

	&__sidebar {
		@include flex-col(center, center, 0.75rem);

		& > img {
			@include width-image(35rem);
			display: block;
			margin-bottom: 1rem;

			@include response(md) {
				@include width-image(70%);
			}
		}

		& > a {
			@include link();
			text-decoration: underline;
			font-weight: 700;
			font-size: 1.5rem;
			text-align: center;

			@include response(md) {
				display: none;
			}
		}
	}
}

.signin__links h4 {
	margin-right: 0.5rem;
	font-weight: 600;

	@include response(sm) {
		width: 100%;
		margin-bottom: 2rem;
	}
}

.icon-validation {
	color: $red;
}
