.home {
	&__mobile-menu {
		position: absolute;
	}

	&__featured {
		& > h2 {
			margin-bottom: 4rem;
			text-align: center;
		}
	}

	&__top-products {
		& > h2 {
			margin-bottom: 3.25rem;
			text-align: center;
		}
	}

	&__top-products-nav {
		flex-wrap: wrap;
		row-gap: 2.25rem;
		margin-bottom: 4.25rem;
	}
}

.carousel-status {
	display: none;
}

.error-text {
	color: $red;
	font-weight: 600;
}
