.product-details {
	@include mx(3rem, 3rem);
	@include flex-row(start, start, $gap: 8rem);
	flex-wrap: wrap;

	@include response(lg) {
		justify-content: center;
	}

	&__product {
		width: 50rem;

		@include response(lg) {
			width: 55%;
		}

		@include response(md) {
			width: 50rem;
		}

		@include response(sm) {
			max-width: 50rem;
			width: 100%;
		}
	}

	&__display {
		padding: 1.5rem;
		background-color: $container_bright;
		border-radius: 0.75rem;

		& > img {
			@include scaled;
			@include width-image(100%);
		}
	}

	&__images {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(2rem, 10rem));
		gap: 1rem;
		justify-content: space-between;
	}

	&__image {
		@include transition;
		padding: 1.8rem;
		margin-top: 1rem;
		background-color: $container_light;
		border-radius: 0.75rem;
		cursor: pointer;

		&:hover {
			background-color: $container_bright;
		}

		& > img {
			@include icon(7rem);
		}
	}

	&__details {
		@include flex-col(start, start, 1rem);

		@include response(lg) {
			align-items: center;
			text-align: center;
		}

		& > h2 {
			color: $grey;
			font-size: 2rem;
			margin-bottom: 1rem;
		}

		& > form {
			@include flex-row($gap: 1.75rem, $justify: start);
			height: 4rem;
			width: 60%;
			margin-top: 2.5rem;

			& > input {
				height: 100%;
				width: 20%;
				padding-left: 1rem;
				color: $background;
				font-size: 2rem;
				outline: none;
				border-radius: 0.5rem;
			}

			& > button {
				height: 100%;
				width: 70%;
				padding: 0 0;
				border-radius: 0.5rem;
			}
		}
	}

	&__price {
		font-size: 4rem;
		font-weight: 700;
	}

	&__info {
		margin-top: 4rem;
		@include flex-col(start, start, 2rem);

		@include response(lg) {
			align-items: center;
			text-align: center;
		}

		& > h2 {
			color: $red;
		}

		& > p {
			max-width: 80%;
			color: $grey;
			letter-spacing: 0.25rem;
			line-height: 1.5;

			& > span {
				font-weight: 600;
				color: $white;
			}
		}
	}

	&__ratings {
		@include flex-row(start, start, 1rem);

		& > img {
			@include icon(2rem);
		}
	}
}
