.shop {
	@include flex-row(start, space-between, 3rem);
	position: relative;

	&__filters {
		width: 25%;

		@include response(md) {
			display: none;
		}
	}

	&__filter-icon {
		@include icon(2rem);
		display: none;
		position: absolute;
		top: -5rem;
		right: 1%;
		text-align: left;

		@include response(md) {
			display: block;
		}
	}

	&__mob-filters {
		width: 100%;
		display: none;

		@include response(md) {
			display: block;
		}
	}

	&__products {
		width: 80%;

		@include response(md) {
			width: 100%;
		}
	}
}

.filter--colored {
	color: $red;
}
